<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CF User Comparing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>
<h2>Compare Codeforces users</h2>

<form action="#" th:action="@{/comparing}" th:object="${comparing}" method="post">
    <fieldset>
        <input type="text" th:field="*{firstHandle}" placeholder="First User Handle"/>
        <input type="text" th:field="*{secondHandle}" placeholder="Second User Handle"/>
        <input type="submit" value="Compare"/>
    </fieldset>
</form>

<div th:unless="${!showRes}">
    <div class="res">
        <a th:style="'color: ' + ${firstColor} + ';'"
           class="rated-user"
           th:href="'http://codeforces.com/profile/' + ${comparing.firstHandle}"
           th:text="${comparing.firstHandle}"></a>

        <span th:text="${firstWin} + ' : ' + ${secondWin}"></span>

        <a th:style="'color: ' + ${secondColor} + ';'"
           class="rated-user"
           th:href="'http://codeforces.com/profile/' + ${comparing.secondHandle}"
           th:text="${comparing.secondHandle}"></a>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>Contest</th>
                <th>
                    <span th:text="${comparing.firstHandle}"></span>
                </th>
                <th>
                    <span th:text="${comparing.secondHandle}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contest: ${contests}"
                th:class="${contest.getTrClass()}">
                <td>
                    <div th:text="${contest.index}"></div>
                </td>
                <td>
                    <div th:text="${contest.getDateAsString()}"></div>
                </td>
                <td>
                    <a th:href="'http://codeforces.com/contest/' + ${contest.contestId} + '/standings'">
                        <div th:text="${contest.contestName}"></div>
                    </a>
                </td>
                <td>
                    <a th:href="'http://codeforces.com/submissions/' + ${contest.firstHandle} + '/contest/' + ${contest.contestId}">
                        <div th:text="${contest.firstPlace}"></div>
                    </a>
                </td>
                <td>
                    <a th:href="'http://codeforces.com/submissions/' + ${contest.secondHandle} + '/contest/' + ${contest.contestId}">
                        <div th:text="${contest.secondPlace}"></div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>