<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CF User Comparing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Compare</h1>

<form action="#" th:action="@{/comparing}" th:object="${comparing}" method="post">
    <p>
        First Handle: <input type="text" th:field="*{firstHandle}"/>
        Second Handle: <input type="text" th:field="*{secondHandle}"/>
    </p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>